html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

:root {
  --font-lexend: "Lexend Variable", "Lexend", Arial, sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.Toastify__toast {
  font-family: "Lexend", sans-serif;
  font-size: 14px;
  font-weight: 500;
}